.div-login {
    background-color: rgba(142, 125, 170, 0.671);
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50vh; 
    
}

#usuario {
    padding: 10px;
    border-radius: 15px;
}

#senha {
    padding: 10px;
    border-radius: 15px;
}

.p-login {
    color: white;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.botao-menu {
    
    height: 100px;
    width:  200px;
    
    
}

.div-menu{
    background-color: rgba(142, 125, 170, 0.671);
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    padding: 10px;
}

.container {
    background-color: rgba(84, 82, 185, 0.712);
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
}

.input-cadastro {
    width: 500px;
    font-size: 18px;
}


